.player-controls {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 130px;
  margin: 0 auto;
  a {
    width: 30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      cursor: pointer;
    }
    &.previous-button, &.next-button {
      background-size: 22px 22px;
      background-position-y: 4px;
      background-position-x: 4px;
    }
    &.play-button, &.pause-button {
      background-size: 30px 30px;
    }
    &.previous-button {
      background-image: url("../img/playercontrols/previous-button.svg");
    }
    &.next-button {
      background-image: url("../img/playercontrols/next-button.svg");
    }
    &.play-button {
      background-image: url("../img/playercontrols/play-button.svg");
    }
    &.pause-button {
      background-image: url("../img/playercontrols/pause-button.svg");
    }
  }
}

.IE10 {
  .player-controls {
    .next-button, .previous-button {
      img {
        padding: 5px;
        max-width: 20px;
      }
    }
    .playpause-button {
      img {
        max-width: 30px;
      }
      margin: 0 10px;
    }
    div {
      display: block;
      text-align: center;
    }
  }
  .counters {
    display: block;
    height: 12px;
    span {
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
  }
}